@use "app/design/colors";

.container {
  break-inside: avoid;
  page-break-inside: avoid;
  position: relative;
  border-bottom: 1px solid colors.$border-light;
  padding-bottom: 16px;
  margin-bottom: 16px;

  p {
    margin: 0.5rem 0;
  }
}

.content {
  display: flex;
  align-items: flex-start;
}

.preview {
  flex: 1;
  padding-right: 16px;
}

.img {
  flex: 0 0 auto;
  width: 120px;
  height: auto;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
  color: colors.$text-title;
}

.excerpt {
  font-size: 15px;
  line-height: 21px;
  color: colors.$text-body;
}

.relDate {
  font-size: 13px;
  line-height: 16px;
  color: colors.$text-citation;
}
