@use "app/design/mixins";

.grid {
  --column-gap: 32px;
  padding-bottom: var(--column-gap);
  position: relative;

  @include mixins.sm {
    --column-count: 1;
  }

  @include mixins.md {
    --column-count: 2;
  }

  @include mixins.lg {
    --column-count: 3;
  }
}

.cards {
  column-count: var(--column-count);
  column-gap: var(--column-gap);

  > div {
    break-inside: avoid;
    page-break-inside: avoid;
    position: relative;
  }
}

.dividers {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #dedede;

  --half-gap: calc(var(--column-gap) / 2);
  --gap-total: calc(var(--column-gap) * (var(--column-count) - 1));
  --box-total: calc(100% - var(--gap-total));
  --box-width: calc(var(--box-total) / var(--column-count));
  --add: calc(var(--half-gap) * (2 * var(--divider-i) + 1));
  --left: calc(var(--box-width) * (var(--divider-i) + 1) + var(--add));
  left: var(--left);
}
