@use "app/design/colors";

.paragraph {
  :global(#footnote) & {
    margin: 0 !important;
  }

  margin-top: 1em;
  color: colors.$text-title;
  hyphens: auto;

  blockquote & {
    padding-left: 1em;
    font-size: 0.9em;
    border-left: 2px solid #ddd;
    box-sizing: border-box;
    margin: 2em auto;
    font-weight: 500;
  }
}

.break {
  margin: 36px 0;
  display: flex;
  font-size: 16px;
  color: colors.$border-divider;
  justify-content: center;

  & > div {
    letter-spacing: 1px;
  }
}

figure.image {
  display: block;
  width: 100%;
  margin: 0;
  margin: 3em 0;

  img {
    max-width: 100%;
    max-height: 600px;
    display: block;
    height: auto;
    margin: 0 auto;
  }

  figcaption {
    display: block;
    padding-top: 12px !important;
    font-size: 13px;
    width: var(--content-width);
    margin: 0 auto;
    color: #444;
    letter-spacing: 0.03px;
  }
}
