@use "app/design/mixins";
@use "app/design/colors";

.title {
  color: #111;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
  font-family: var(--font-serif);
  word-break: keep-all;

  @include mixins.sm {
    font-size: 40px;
    letter-spacing: -0.6px;
  }
}

.meta {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 999rem;
  overflow: hidden;
  background-color: colors.$placeholder !important;
}

.choseh_meta_info {
  margin-left: 16px;
  flex: 1 1;
  font-size: 14px;
  color: #888;
}

.choseh_cite {
  margin-bottom: 4px;
  color: #222;
}
