.box {
  position: absolute;
  top: 8px;
  right: 8px;
}

.iconBox {
  z-index: 1;
  position: relative;
  background: #e9eaec;
  border-radius: 999rem;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  svg {
    display: block;
  }
}
