@use "src/design/colors";

.box {
  margin-left: 16px;
  flex: 1 1;
  font-size: 13px;
  color: #888;
}

.github {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 0 2px;
  align-items: center;
  margin-bottom: 4px;
}

.icon {
  margin-right: 4px;
}

.commit {
  display: flex;
  align-items: center;
}

.branch {
  color: colors.$text-title;
  display: flex;
  align-items: center;
}

.sha {
  color: colors.$text-title;
  font-size: 12px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  &:hover {
    color: colors.$text-primary;
    text-decoration: underline;
  }
}
