@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 16px;
  word-wrap: break-word;
  word-break: keep-all;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}