@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-size: 16px;
    word-wrap: break-word;
    word-break: keep-all;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
  }
  & pre {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* Code block */
  pre, code {
    margin: 0;
    @apply leading-normal;
  }

  .token {
    &.comment {
      @apply text-gray-500;
    }
    &.prolog, &.doctype, &.cdata {
      @apply text-gray-400;
    }
    &.punctuation {
      @apply text-gray-900;
    }
    &.namespace {
      opacity: .7;
    }
    &.keyword {
      @apply text-rose-900;
    }
  }
}
